@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 17%, 95%;
    --foreground: 5, 50%, 95%;
    --primary: 0, 0%, 0%;
    --secondary: 289, 10%, 22%;
    --tertiary: 330, 2%, 49%;
    --quartary: 356, 24%, 86%;
  }
}

/* Fade In Effect*/
.fade-in {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    scrollbar-width: thin; /* Makes scrollbar thin */
    scrollbar-color: #e4d3d4 #f4f0f0; /* (thumb color, track color) */
  }
}

