@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 17%, 95%;
    --foreground: 5, 50%, 95%;
    --primary: 0, 0%, 0%;
    --secondary: 289, 10%, 22%;
    --tertiary: 330, 2%, 49%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
